In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import os
os.listdir()

['.ipynb_checkpoints',
 'Dataset_Challenge_Dataset_Agreement.pdf',
 'Untitled.ipynb',
 'yelp_business.csv',
 'yelp_business_attributes.csv',
 'yelp_business_hours.csv',
 'yelp_checkin.csv',
 'yelp_review.csv',
 'yelp_tip.csv',
 'yelp_user.csv']

In [2]:
business_df = pd.read_csv(".//yelp_business.csv")

In [7]:
review_df = pd.read_csv(".//yelp_review.csv")

In [8]:
tip_df = pd.read_csv(".//yelp_tip.csv")

In [12]:
business_df.tail()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
174562,ALV5R8NkZ1KGOZeuZl3u0A,"""Whitby Toyota""",NaN,"""1025 Dundas Street W""",Whitby,ON,L1P 1Z1,43.873460,-78.968033,4.0,4,1,Car Dealers;Automotive
174563,gRGalHVu6BcaUDIAGVW_xQ,"""Village Auto Body""",NaN,"""3957 Brecksville Rd""",Richfield,OH,44286,41.243385,-81.636212,5.0,3,1,Body Shops;Automotive
174564,XXvZBIHoJBU5d6-a-oyMWQ,"""AAM""",NaN,"""1600 W Broadway Rd, Ste 200""",Tempe,AZ,85282,33.407914,-111.965098,1.5,19,1,Home Services;Property Management;Real Estate
174565,lNpPGgM96nPIYM1shxciHg,"""Bronze Beauty Spray Tanning""",NaN,"""300 Camp Horne Rd, Ste 250""",Pittsburgh,PA,15202,40.517724,-80.091466,5.0,14,1,Spray Tanning;Tanning;Beauty & Spas
174566,viKaP26BcHU6cLx8sf4gKg,"""Phoenix Pharmacy""",NaN,"""1701 East Thomas Rd, Ste 105""",Phoenix,AZ,85016,33.479861,-112.044689,5.0,4,1,Drugstores;Shopping;Health & Medical

In [11]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174567 entries, 0 to 174566
Data columns (total 13 columns):
business_id     174567 non-null object
name            174567 non-null object
neighborhood    68015 non-null object
address         174567 non-null object
city            174566 non-null object
state           174566 non-null object
postal_code     173944 non-null object
latitude        174566 non-null float64
longitude       174566 non-null float64
stars           174567 non-null float64
review_count    174567 non-null int64
is_open         174567 non-null int64
categories      174567 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 17.3+ MB

In [ ]:
review_df.tail()

In [18]:
tip_df.head()

,text,date,likes,business_id,user_id
0,Great breakfast large portions and friendly wa...,2015-08-12,0,jH19V2I9fIslnNhDzPmdkA,ZcLKXikTHYOnYt5VYRO5sg
1,Nice place. Great staff. A fixture in the tow...,2014-06-20,0,dAa0hB2yrnHzVmsCkN4YvQ,oaYhjqBbh18ZhU0bpyzSuw
2,Happy hour 5-7 Monday - Friday,2016-10-12,0,dAa0hB2yrnHzVmsCkN4YvQ,ulQ8Nyj7jCUR8M83SUMoRQ
3,"Parking is a premium, keep circling, you will ...",2017-01-28,0,ESzO3Av0b1_TzKOiqzbQYQ,ulQ8Nyj7jCUR8M83SUMoRQ
4,Homemade pasta is the best in the area,2017-02-25,0,k7WRPbDd7rztjHcGGkEjlw,ulQ8Nyj7jCUR8M83SUMoRQ

In [19]:
user_df.head()

,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,elite,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,JJ-aSuM4pCFPdkfoZ34q0Q,Chris,10,2013-09-24,"0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gpg...",0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
1,uUzsFQn_6cXDh6rPNGbIFA,Tiffy,1,2017-03-02,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
2,mBneaEEH5EMyxaVyqS-72A,Mark,6,2015-03-13,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
3,W5mJGs-dcDWRGEhAzUYtoA,Evelyn,3,2016-09-08,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
4,4E8--zUZO1Rr1IBK4_83fg,Lisa,11,2012-07-16,None,4,0,0,0,None,...,0,0,0,0,0,0,0,0,1,0

Basically Answer the following questions in this kernel

1) What are the types of businesses being reviewed
2) How many users have reviews each business
3) How many categories of business are reviewed and how many get positive and negative reviews 
4) Revivewers influenced by friends
5) How businesses are getting reviewed over time

Terminology used:

Top reviewed business : Business with most numbers of positive reviews
Negatively reviewed business : Business with most numbers of negative reviews
Trending business : Business with most number of reviews, with more than 4 stars in recent years
Positive review : Review with more than 3 stars
Negative review : Review with just 1 star

In [ ]:
review_df["date"]=  pd.to_datetime(review_df["date"], format='%Y-%m-%d')

In [ ]:
review_df.info()