In [11]:
import pandas as pd

census_df = pd.read_csv('census.csv')
census_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,40,3,6,1,0,Alabama,Alabama,4775636,475827,4785161,2345234,345245,567,8786578,1234
1,50,3,6,1,1,Alabama,Autuaga County,5678,54632,45234,23431,345345,78678,342342,234
2,50,3,6,1,3,Alabama,Baldwin County,36456,34343,34343,1231234,53,867867,42342,234232342
3,50,3,6,1,5,Alabama,Barbour County,34353,34343,34343,56564,345345,7867867,423,23423
4,50,3,6,1,7,Alabama,Bibb County,34343,34343,34343,5345,345345,786,45345,34534
5,40,4,4,2,0,Michigan,Michigan,2343,234,234,45345,45345,34234,56456,3453
6,50,4,5,3,1,Michigan,mickey,234,234,234,4534534,345345,34234,5675,4534
7,50,4,6,2,2,Michigan,Mouse,454656,64453,6342,345345,45345,234234,67867,345345

In [22]:
df = census_df.set_index("STNAME","CTYNAME")
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
STNAME,,,,,,,,,,,,,,
Alabama,40,3,6,1,0,Alabama,4775636,475827,4785161,2345234,345245,567,8786578,1234
Alabama,50,3,6,1,1,Autuaga County,5678,54632,45234,23431,345345,78678,342342,234
Alabama,50,3,6,1,3,Baldwin County,36456,34343,34343,1231234,53,867867,42342,234232342
Alabama,50,3,6,1,5,Barbour County,34353,34343,34343,56564,345345,7867867,423,23423
Alabama,50,3,6,1,7,Bibb County,34343,34343,34343,5345,345345,786,45345,34534
Michigan,40,4,4,2,0,Michigan,2343,234,234,45345,45345,34234,56456,3453
Michigan,50,4,5,3,1,mickey,234,234,234,4534534,345345,34234,5675,4534
Michigan,50,4,6,2,2,Mouse,454656,64453,6342,345345,45345,234234,67867,345345

In [21]:
import numpy as np
df.apply(np.max,axis=0)

SUMLEV                      50
REGION                       4
DIVISION                     6
STATE                        3
COUNTY                       7
CTYNAME                 mickey
CENSUS2010POP          4775636
ESTIMATESBASE2010       475827
POPESTIMATE2010        4785161
POPESTIMATE2011        4534534
POPESTIMATE2012         345345
POPESTIMATE2013        7867867
POPESTIMATE2014        8786578
POPESTIMATE2015      234232342
dtype: object

In [23]:
census_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,40,3,6,1,0,Alabama,Alabama,4775636,475827,4785161,2345234,345245,567,8786578,1234
1,50,3,6,1,1,Alabama,Autuaga County,5678,54632,45234,23431,345345,78678,342342,234
2,50,3,6,1,3,Alabama,Baldwin County,36456,34343,34343,1231234,53,867867,42342,234232342
3,50,3,6,1,5,Alabama,Barbour County,34353,34343,34343,56564,345345,7867867,423,23423
4,50,3,6,1,7,Alabama,Bibb County,34343,34343,34343,5345,345345,786,45345,34534
5,40,4,4,2,0,Michigan,Michigan,2343,234,234,45345,45345,34234,56456,3453
6,50,4,5,3,1,Michigan,mickey,234,234,234,4534534,345345,34234,5675,4534
7,50,4,6,2,2,Michigan,Mouse,454656,64453,6342,345345,45345,234234,67867,345345

In [24]:
census_df.groupby("STNAME")

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
STNAME,,,,,,,,,,,,,,
Alabama,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Michigan,3,3,3,3,3,3,3,3,3,3,3,3,3,3

In [25]:
census_df.set_index("STNAME")

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
STNAME,,,,,,,,,,,,,,
Alabama,40,3,6,1,0,Alabama,4775636,475827,4785161,2345234,345245,567,8786578,1234
Alabama,50,3,6,1,1,Autuaga County,5678,54632,45234,23431,345345,78678,342342,234
Alabama,50,3,6,1,3,Baldwin County,36456,34343,34343,1231234,53,867867,42342,234232342
Alabama,50,3,6,1,5,Barbour County,34353,34343,34343,56564,345345,7867867,423,23423
Alabama,50,3,6,1,7,Bibb County,34343,34343,34343,5345,345345,786,45345,34534
Michigan,40,4,4,2,0,Michigan,2343,234,234,45345,45345,34234,56456,3453
Michigan,50,4,5,3,1,mickey,234,234,234,4534534,345345,34234,5675,4534
Michigan,50,4,6,2,2,Mouse,454656,64453,6342,345345,45345,234234,67867,345345

In [29]:
g = census_df.groupby(level=0,group_keys=False)

In [31]:
g.nlargest(3)

AttributeError: Cannot access callable attribute 'nlargest' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [33]:
census_df.sort_values(['CENSUS2010POP'],ascending=False).groupby('STNAME').head(3)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,40,3,6,1,0,Alabama,Alabama,4775636,475827,4785161,2345234,345245,567,8786578,1234
7,50,4,6,2,2,Michigan,Mouse,454656,64453,6342,345345,45345,234234,67867,345345
2,50,3,6,1,3,Alabama,Baldwin County,36456,34343,34343,1231234,53,867867,42342,234232342
3,50,3,6,1,5,Alabama,Barbour County,34353,34343,34343,56564,345345,7867867,423,23423
5,40,4,4,2,0,Michigan,Michigan,2343,234,234,45345,45345,34234,56456,3453
6,50,4,5,3,1,Michigan,mickey,234,234,234,4534534,345345,34234,5675,4534

In [36]:
census_df.groupby('STNAME').sort_values('CENSUS2010POP')

AttributeError: Cannot access callable attribute 'sort_values' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [51]:
census_df.reset_index().set_index('STNAME').groupby('STNAME').apply(lambda x:x.sort_values('CENSUS2010POP',ascending=False)).head(3)

                 index  SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  STNAME
Alabama Alabama      0      40       3         6      1       0
        Alabama      2      50       3         6      1       3
        Alabama      3      50       3         6      1       5

                        CTYNAME  CENSUS2010POP  ESTIMATESBASE2010  \
STNAME  STNAME
Alabama Alabama         Alabama        4775636             475827
        Alabama  Baldwin County          36456              34343
        Alabama  Barbour County          34353              34343

                 POPESTIMATE2010  POPESTIMATE2011  POPESTIMATE2012  \
STNAME  STNAME
Alabama Alabama          4785161          2345234           345245
        Alabama            34343          1231234               53
        Alabama            34343            56564           345345

                 POPESTIMATE2013  POPESTIMATE2014  POPESTIMATE2015
STNAME  STNAME
Alabama Alabama              567          8786578             1234
        Alabama           867867            42342        234232342
        Alabama          7867867              423            23423

In [53]:
census_df.groupby('STNAME').apply(lambda x:x.sort_values('CENSUS2010POP',ascending=False))

            SUMLEV  REGION  DIVISION  STATE  COUNTY    STNAME         CTYNAME  \
STNAME
Alabama  0      40       3         6      1       0   Alabama         Alabama
         2      50       3         6      1       3   Alabama  Baldwin County
         3      50       3         6      1       5   Alabama  Barbour County
         4      50       3         6      1       7   Alabama     Bibb County
         1      50       3         6      1       1   Alabama  Autuaga County
Michigan 7      50       4         6      2       2  Michigan           Mouse
         5      40       4         4      2       0  Michigan        Michigan
         6      50       4         5      3       1  Michigan          mickey

            CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME
Alabama  0        4775636             475827          4785161
         2          36456              34343            34343
         3          34353              34343            34343
         4          34343              34343            34343
         1           5678              54632            45234
Michigan 7         454656              64453             6342
         5           2343                234              234
         6            234                234              234

            POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME
Alabama  0          2345234           345245              567
         2          1231234               53           867867
         3            56564           345345          7867867
         4             5345           345345              786
         1            23431           345345            78678
Michigan 7           345345            45345           234234
         5            45345            45345            34234
         6          4534534           345345            34234

            POPESTIMATE2014  POPESTIMATE2015
STNAME
Alabama  0          8786578             1234
         2            42342        234232342
         3              423            23423
         4            45345            34534
         1           342342              234
Michigan 7            67867           345345
         5            56456             3453
         6             5675             4534

In [54]:
census_df = census_df[census_df.SUMLEV != 40]

In [55]:
census_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,50,3,6,1,1,Alabama,Autuaga County,5678,54632,45234,23431,345345,78678,342342,234
2,50,3,6,1,3,Alabama,Baldwin County,36456,34343,34343,1231234,53,867867,42342,234232342
3,50,3,6,1,5,Alabama,Barbour County,34353,34343,34343,56564,345345,7867867,423,23423
4,50,3,6,1,7,Alabama,Bibb County,34343,34343,34343,5345,345345,786,45345,34534
6,50,4,5,3,1,Michigan,mickey,234,234,234,4534534,345345,34234,5675,4534
7,50,4,6,2,2,Michigan,Mouse,454656,64453,6342,345345,45345,234234,67867,345345

In [150]:
g = census_df.groupby('STNAME').apply(lambda x:x.sort_values('CENSUS2010POP',ascending=False)).groupby(level=0).head(3)
g

            SUMLEV  REGION  DIVISION  STATE  COUNTY    STNAME         CTYNAME  \
STNAME
Alabama  2      50       3         6      1       3   Alabama  Baldwin County
         3      50       3         6      1       5   Alabama  Barbour County
         4      50       3         6      1       7   Alabama     Bibb County
Michigan 7      50       4         6      2       2  Michigan           Mouse
         6      50       4         5      3       1  Michigan          mickey

            CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME
Alabama  2          36456              34343            34343
         3          34353              34343            34343
         4          34343              34343            34343
Michigan 7         454656              64453             6342
         6            234                234              234

            POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME
Alabama  2          1231234               53           867867
         3            56564           345345          7867867
         4             5345           345345              786
Michigan 7           345345            45345           234234
         6          4534534           345345            34234

            POPESTIMATE2014  POPESTIMATE2015
STNAME
Alabama  2            42342        234232342
         3              423            23423
         4            45345            34534
Michigan 7            67867           345345
         6             5675             4534

In [98]:
#census_df.reset_index().set_index('STNAME','CTYNAME')
#census_df.groupby(level=0, group_keys=False).apply(lambda x: x.sort_values('CENSUS2010POP', ascending=False)).groupby(level=0).head(3)

In [101]:
g

            SUMLEV  REGION  DIVISION  STATE  COUNTY    STNAME         CTYNAME  \
STNAME
Alabama  2      50       3         6      1       3   Alabama  Baldwin County
         3      50       3         6      1       5   Alabama  Barbour County
         4      50       3         6      1       7   Alabama     Bibb County
Michigan 7      50       4         6      2       2  Michigan           Mouse
         6      50       4         5      3       1  Michigan          mickey

            CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME
Alabama  2          36456              34343            34343
         3          34353              34343            34343
         4          34343              34343            34343
Michigan 7         454656              64453             6342
         6            234                234              234

            POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME
Alabama  2          1231234               53           867867
         3            56564           345345          7867867
         4             5345           345345              786
Michigan 7           345345            45345           234234
         6          4534534           345345            34234

            POPESTIMATE2014  POPESTIMATE2015
STNAME
Alabama  2            42342        234232342
         3              423            23423
         4            45345            34534
Michigan 7            67867           345345
         6             5675             4534

In [102]:
g['STNAME','CTYNAME'].tolist()

KeyError: ('STNAME', 'CTYNAME')

In [103]:
g

            SUMLEV  REGION  DIVISION  STATE  COUNTY    STNAME         CTYNAME  \
STNAME
Alabama  2      50       3         6      1       3   Alabama  Baldwin County
         3      50       3         6      1       5   Alabama  Barbour County
         4      50       3         6      1       7   Alabama     Bibb County
Michigan 7      50       4         6      2       2  Michigan           Mouse
         6      50       4         5      3       1  Michigan          mickey

            CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME
Alabama  2          36456              34343            34343
         3          34353              34343            34343
         4          34343              34343            34343
Michigan 7         454656              64453             6342
         6            234                234              234

            POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME
Alabama  2          1231234               53           867867
         3            56564           345345          7867867
         4             5345           345345              786
Michigan 7           345345            45345           234234
         6          4534534           345345            34234

            POPESTIMATE2014  POPESTIMATE2015
STNAME
Alabama  2            42342        234232342
         3              423            23423
         4            45345            34534
Michigan 7            67867           345345
         6             5675             4534

In [121]:
g['CTYNAME'].values.tolist()

['Baldwin County', 'Barbour County', 'Bibb County', 'Mouse', 'mickey']

In [122]:
g.values.tolist()

[[50L,
  3L,
  6L,
  1L,
  3L,
  'Alabama',
  'Baldwin County',
  36456L,
  34343L,
  34343L,
  1231234L,
  53L,
  867867L,
  42342L,
  234232342L],
 [50L,
  3L,
  6L,
  1L,
  5L,
  'Alabama',
  'Barbour County',
  34353L,
  34343L,
  34343L,
  56564L,
  345345L,
  7867867L,
  423L,
  23423L],
 [50L,
  3L,
  6L,
  1L,
  7L,
  'Alabama',
  'Bibb County',
  34343L,
  34343L,
  34343L,
  5345L,
  345345L,
  786L,
  45345L,
  34534L],
 [50L,
  4L,
  6L,
  2L,
  2L,
  'Michigan',
  'Mouse',
  454656L,
  64453L,
  6342L,
  345345L,
  45345L,
  234234L,
  67867L,
  345345L],
 [50L,
  4L,
  5L,
  3L,
  1L,
  'Michigan',
  'mickey',
  234L,
  234L,
  234L,
  4534534L,
  345345L,
  34234L,
  5675L,
  4534L]]

In [126]:
list(g['STNAME'])

['Alabama', 'Alabama', 'Alabama', 'Michigan', 'Michigan']

In [148]:
g.loc[:,['STNAME','CTYNAME']].values.tolist()

[['Alabama', 'Baldwin County'],
 ['Alabama', 'Barbour County'],
 ['Alabama', 'Bibb County'],
 ['Michigan', 'Mouse'],
 ['Michigan', 'mickey']]

In [149]:
 g

            SUMLEV  REGION  DIVISION  STATE  COUNTY    STNAME         CTYNAME  \
STNAME
Alabama  2      50       3         6      1       3   Alabama  Baldwin County
         3      50       3         6      1       5   Alabama  Barbour County
         4      50       3         6      1       7   Alabama     Bibb County
Michigan 7      50       4         6      2       2  Michigan           Mouse
         6      50       4         5      3       1  Michigan          mickey

            CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME
Alabama  2          36456              34343            34343
         3          34353              34343            34343
         4          34343              34343            34343
Michigan 7         454656              64453             6342
         6            234                234              234

            POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME
Alabama  2          1231234               53           867867
         3            56564           345345          7867867
         4             5345           345345              786
Michigan 7           345345            45345           234234
         6          4534534           345345            34234

            POPESTIMATE2014  POPESTIMATE2015
STNAME
Alabama  2            42342        234232342
         3              423            23423
         4            45345            34534
Michigan 7            67867           345345
         6             5675             4534

In [151]:
census_df.groupby('STNAME').apply(lambda x:x.sort_values('CENSUS2010POP',ascending=False)).groupby(level=0).head(3).loc[:,['STNAME','CTYNAME']].values.tolist()

[['Alabama', 'Baldwin County'],
 ['Alabama', 'Barbour County'],
 ['Alabama', 'Bibb County'],
 ['Michigan', 'Mouse'],
 ['Michigan', 'mickey']]

In [154]:
#Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use CENSUS2010POP.
# drop rows with SUMLEV = 40
#This function should return a list of string values.

census_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,50,3,6,1,1,Alabama,Autuaga County,5678,54632,45234,23431,345345,78678,342342,234
2,50,3,6,1,3,Alabama,Baldwin County,36456,34343,34343,1231234,53,867867,42342,234232342
3,50,3,6,1,5,Alabama,Barbour County,34353,34343,34343,56564,345345,7867867,423,23423
4,50,3,6,1,7,Alabama,Bibb County,34343,34343,34343,5345,345345,786,45345,34534
6,50,4,5,3,1,Michigan,mickey,234,234,234,4534534,345345,34234,5675,4534
7,50,4,6,2,2,Michigan,Mouse,454656,64453,6342,345345,45345,234234,67867,345345

In [153]:
census_df.groupby('STNAME').apply(lambda x:x.sort_values('CENSUS2010POP',ascending=False)).groupby(level=0).head(3).loc[:,['STNAME','CTYNAME']].values.tolist()

[['Alabama', 'Baldwin County'],
 ['Alabama', 'Barbour County'],
 ['Alabama', 'Bibb County'],
 ['Michigan', 'Mouse'],
 ['Michigan', 'mickey']]