In [1]:
#Question 8

#In this datafile, the United States is broken up into four regions using the "REGION" column.

#Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', 
#and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

#This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] 
#and the same index ID as the census_df (sorted ascending by index).

In [2]:
census_df

NameError: name 'census_df' is not defined

In [6]:
import pandas as pd
census_df = pd.read_csv('census.csv')
census_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,40,3,6,1,0,Alabama,Alabama,4775636,475827,4785161,2345234.0,345245.0,567.0,8786578,1234
1,50,3,6,1,1,Alabama,Autuaga County,5678,54632,45234,23431.0,345345.0,78678.0,342342,234
2,50,3,6,1,3,Alabama,Baldwin County,36456,34343,34343,1231234.0,53.0,867867.0,42342,234232342
3,50,3,6,1,5,Alabama,Barbour County,34353,34343,34343,56564.0,345345.0,7867867.0,423,23423
4,50,3,6,1,7,Alabama,Bibb County,34343,34343,34343,5345.0,345345.0,786.0,45345,34534
5,40,4,4,2,0,Michigan,Michigan,2343,234,234,45345.0,45345.0,34234.0,56456,3453
6,50,4,5,3,1,Michigan,mickey,234,234,234,4534534.0,345345.0,34234.0,5675,4534
7,50,4,6,2,2,Michigan,Mouse,454656,64453,6342,345345.0,45345.0,234234.0,67867,345345
8,50,1,4,2,4,Washington,Washington DC,2345,3451,2345,NaN,NaN,NaN,23452345,2345
9,50,1,4,2,5,Washington,Washington MC,13442,234,234,234.0,2454.0,14234.0,123456,8776
10,50,2,4,2,5,Washington,Washington MC,13442,234,234,234.0,2454.0,14234.0,123456,8776
11,50,2,4,2,5,Washington,Washington MC,13442,234,234,234.0,2454.0,14234.0,123456,8776

In [7]:
# select rows with SUMLEV = 50
census_df = census_df[census_df.SUMLEV != 40]

In [12]:
census_df[census_df.REGION = 1]

SyntaxError: invalid syntax (<ipython-input-12-8f3e7cf6d8c7>, line 1)

In [14]:
census_df[(census_df['REGION'] == 1) & (census_df['REGION'] == 2)]

Empty DataFrame
Columns: [SUMLEV, REGION, DIVISION, STATE, COUNTY, STNAME, CTYNAME, CENSUS2010POP, ESTIMATESBASE2010, POPESTIMATE2010, POPESTIMATE2011, POPESTIMATE2012, POPESTIMATE2013, POPESTIMATE2014, POPESTIMATE2015]
Index: []

In [18]:
([census_df['REGION'] == 1) & (census_df['REGION'] == 2])

SyntaxError: invalid syntax (<ipython-input-18-df663cc45d80>, line 1)

In [33]:
census_df[census_df['REGION'] == 1]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
census_df[((census_df['REGION'] == 1) | (census_df['REGION'] == 2) ) & (census_df['CTYNAME'].str.startswith('Washington')) & (census_df['POPESTIMATE2015'] >  census_df['POPESTIMATE2014'])]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
9,50,1,4,2,5,Washington,Washington MC,13442,234,234,234.0,2454.0,14234.0,123456,8.776390e+24

In [41]:
census_df['CTYNAME'].str.startswith('Washington')

1     False
2     False
3     False
4     False
6     False
7     False
8     False
9      True
10     True
11     True
Name: CTYNAME, dtype: bool

In [44]:
census_df = census_df[(census_df['POPESTIMATE2015'] >  census_df['POPESTIMATE2014'])]

In [45]:
census_df = pd.read_csv('census.csv')
census_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,40,3,6,1,0,Alabama,Alabama,4775636,475827,4785161,2345234.0,345245.0,567.0,8786578,1.234000e+03
1,50,3,6,1,1,Alabama,Autuaga County,5678,54632,45234,23431.0,345345.0,78678.0,342342,2.340000e+02
2,50,3,6,1,3,Alabama,Baldwin County,36456,34343,34343,1231234.0,53.0,867867.0,42342,2.342323e+08
3,50,3,6,1,5,Alabama,Barbour County,34353,34343,34343,56564.0,345345.0,7867867.0,423,2.342300e+04
4,50,3,6,1,7,Alabama,Bibb County,34343,34343,34343,5345.0,345345.0,786.0,45345,3.453400e+04
5,40,4,4,2,0,Michigan,Michigan,2343,234,234,45345.0,45345.0,34234.0,56456,3.453000e+03
6,50,4,5,3,1,Michigan,mickey,234,234,234,4534534.0,345345.0,34234.0,5675,4.534000e+03
7,50,4,6,2,2,Michigan,Mouse,454656,64453,6342,345345.0,45345.0,234234.0,67867,3.453450e+05
8,50,1,4,2,4,Washington,Washington DC,2345,3451,2345,NaN,NaN,NaN,23452345,2.345000e+03
9,50,1,4,2,5,Washington,Washington MC,13442,234,234,234.0,2454.0,14234.0,123456,8.776390e+24
10,50,2,4,2,5,Washington,Washington MC,13442,234,234,234.0,2454.0,14234.0,123456,8.776000e+03
11,50,2,4,2,5,Washington,Washington MC,13442,234,234,234.0,2454.0,14234.0,123456,8.776000e+03

In [46]:
census_df = census_df[(census_df['POPESTIMATE2015'] >  census_df['POPESTIMATE2014'])]

In [47]:
census_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
2,50,3,6,1,3,Alabama,Baldwin County,36456,34343,34343,1231234.0,53.0,867867.0,42342,2.342323e+08
3,50,3,6,1,5,Alabama,Barbour County,34353,34343,34343,56564.0,345345.0,7867867.0,423,2.342300e+04
7,50,4,6,2,2,Michigan,Mouse,454656,64453,6342,345345.0,45345.0,234234.0,67867,3.453450e+05
9,50,1,4,2,5,Washington,Washington MC,13442,234,234,234.0,2454.0,14234.0,123456,8.776390e+24

In [50]:
df = census_df[((census_df['REGION'] == 1) | (census_df['REGION'] == 2) ) & (census_df['CTYNAME'].str.startswith('Washington')) & (census_df['POPESTIMATE2015'] >  census_df['POPESTIMATE2014'])]

In [51]:
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
9,50,1,4,2,5,Washington,Washington MC,13442,234,234,234.0,2454.0,14234.0,123456,8.776390e+24

In [57]:
df[['STNAME','CTYNAME']].sort_values('',axis=0,ascending=True, inplace=True)

KeyError: 'id'

In [62]:
census_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
2,50,3,6,1,3,Alabama,Baldwin County,36456,34343,34343,1231234.0,53.0,867867.0,42342,2.342323e+08
3,50,3,6,1,5,Alabama,Barbour County,34353,34343,34343,56564.0,345345.0,7867867.0,423,2.342300e+04
7,50,4,6,2,2,Michigan,Mouse,454656,64453,6342,345345.0,45345.0,234234.0,67867,3.453450e+05
9,50,1,4,2,5,Washington,Washington MC,13442,234,234,234.0,2454.0,14234.0,123456,8.776390e+24

In [63]:
census_df.sort_index(axis=0, level=None, ascending=True, inplace=True)

In [64]:
census_df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
2,50,3,6,1,3,Alabama,Baldwin County,36456,34343,34343,1231234.0,53.0,867867.0,42342,2.342323e+08
3,50,3,6,1,5,Alabama,Barbour County,34353,34343,34343,56564.0,345345.0,7867867.0,423,2.342300e+04
7,50,4,6,2,2,Michigan,Mouse,454656,64453,6342,345345.0,45345.0,234234.0,67867,3.453450e+05
9,50,1,4,2,5,Washington,Washington MC,13442,234,234,234.0,2454.0,14234.0,123456,8.776390e+24