In [3]:
def answer_one():
        import pandas as pd
        import numpy as np
        energy = pd.read_csv('Energy Indicators.csv',skiprows=16,skipfooter=38,engine='python')
        energy.drop(energy.columns[[0,1]], axis=1,inplace=True)
        energy=energy.dropna(axis=1,how='all')

        for col in energy.columns:
            if col[:]=='Energy Supply per capita':
                energy.rename(columns={col:'Energy Supply per Capita'},inplace=True)
            if col[:]=='Renewable Electricity Production':
                energy.rename(columns={col:'% Renewable'},inplace=True)
            energy.rename(columns={ energy.columns[0]: "Country" },inplace=True)

        energy.dropna(subset=['Country'], how = 'all',inplace=True)

        #replace empty values with Nan
        energy[['Energy Supply','Energy Supply per Capita','% Renewable']] = energy[['Energy Supply','Energy Supply per Capita','% Renewable']].apply(pd.to_numeric,errors='coerce')      
        energy['Energy Supply'] = energy['Energy Supply'].apply(lambda x:x*1000000)

        energy['Country'].replace(
            to_replace=['United States of America20','United States Virgin Islands','Bolivia (Plurinational State of)',
                   'China2','China, Hong Kong Special Administrative Region3','China, Macao Special Administrative Region4',
                   'Denmark5','France6','Greenland7','Indonesia8','Iran (Islamic Republic of)','Italy9',
                   'Japan10','Kuwait11','Micronesia (Federated States of)','Netherlands12','Portugal13','Saudi Arabia14',
                   'Serbia15','Ukraine18','Venezuela (Bolivarian Republic of)','United Kingdom of Great Britain and Northern Ireland19','Australia1'],
            value=['United States','United Virgin','Bolivia','China','Hong Kong','China, Macao Special Administrative Region',
              'Denmark','France','Greenland','Indonesia','Iran','Italy','Japan','Kuwait','Micronesia','Netherlands',
              'Portugal','Saudi Arabia','Serbia','Ukraine','Venezuela','United Kingdom','Australia'],
            inplace=True)


        GDP = pd.read_csv('world_bank.csv',skiprows=4)
        GDP['Country Name'].replace(
            to_replace=['Korea, Rep.','Iran, Islamic Rep.','Hong Kong SAR, China'],
            value=['South Korea','Iran','Hong Kong'],
            inplace=True
        )
        GDP.dropna(axis=1,how='all',inplace=True)
        GDP.rename(columns={'Country Name': 'Country'}, inplace=True)

        ScimEn = pd.read_csv("scimagojr.csv")

        energy = energy.set_index('Country')
        GDP = GDP.set_index('Country')
        ScimEn = ScimEn.set_index('Country')

        df1 = energy.join(GDP, how='outer')
        final_merge = df1.join(ScimEn, how='outer')
        
        for i in range(1960,2005):
            final_merge.drop(str(i),axis=1,inplace=True)

        #final_merge.head(15)

        cols = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
        final_merge = final_merge[cols]
        result_df = final_merge

        return result_df

In [4]:
df = answer_one()

In [6]:
df['% Renewable']

Country
Afghanistan                          78.67
Albania                             100.00
Algeria                               0.55
American Samoa                        0.64
Andorra                              88.70
Angola                               70.91
Anguilla                              0.00
Antigua and Barbuda                   0.00
Arab World                             NaN
Argentina                            24.06
Armenia                              28.24
Aruba                                14.87
Australia                            11.81
Austria                              72.45
Azerbaijan                            6.38
Bahamas                               0.00
Bahamas, The                           NaN
Bahrain                               0.00
Bangladesh                            1.97
Barbados                              0.00
Belarus                               0.46
Belgium                               9.96
Belize                               64.69
Benin                                 0.00
Bermuda                               0.00
Bhutan                              100.00
Bolivia                              31.48
Bonaire, Sint Eustatius and Saba      0.00
Bosnia and Herzegovina               41.46
Botswana                              0.13
                                     ...
Tonga                                 0.00
Trinidad and Tobago                   0.00
Tunisia                               3.49
Turkey                               28.54
Turkmenistan                          0.00
Turks and Caicos Islands              0.00
Tuvalu                                0.00
Uganda                               68.02
Ukraine                               8.07
United Arab Emirates                  0.00
United Kingdom                       10.60
United Republic of Tanzania          31.07
United States                        11.57
United Virgin                         0.00
Upper middle income                    NaN
Uruguay                              71.61
Uzbekistan                           21.33
Vanuatu                              14.71
Venezuela                            67.83
Venezuela, RB                          NaN
Viet Nam                             45.32
Vietnam                                NaN
Virgin Islands (U.S.)                  NaN
Wallis and Futuna Islands             0.00
West Bank and Gaza                     NaN
World                                  NaN
Yemen                                 0.00
Yemen, Rep.                            NaN
Zambia                               99.71
Zimbabwe                             52.54
Name: % Renewable, Length: 320, dtype: float64

In [15]:
import numpy as np
import pandas as pd
bins = np.linspace(0, 100, 6)
#pd.cut(df.% Renewable',bins)
#groups = df.groupby(pandas.cut(df.% Renewable, bins))
df['categories']=pd.cut(df['% Renewable'],bins,right=False)
df.groupby('categories').mean()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
categories,,,,,,,,,,,,,,,,,,,,
"[0.0, 20.0)",87.258824,5720.60000,5655.694118,45801.117647,16158.858824,6.598824,38.094118,1.494118e+08,106.553719,4.320794,4.152044e+11,4.623253e+11,5.049045e+11,4.827110e+11,5.275442e+11,5.866601e+11,6.256688e+11,6.347596e+11,6.667880e+11,6.482248e+11
"[20.0, 40.0)",81.478261,1640.26087,1621.086957,19960.217391,4066.521739,7.416957,36.173913,2.813750e+08,74.787879,29.033333,1.823276e+11,2.128059e+11,2.366419e+11,2.141484e+11,2.232770e+11,2.446655e+11,2.368540e+11,2.473449e+11,2.486532e+11,2.397390e+11
"[40.0, 60.0)",101.000000,529.55000,522.700000,6042.550000,985.500000,4.464500,16.300000,3.250556e+08,65.238095,50.042381,5.541182e+10,6.457199e+10,7.127642e+10,6.445500e+10,7.063209e+10,7.968301e+10,7.929388e+10,8.434970e+10,8.611564e+10,7.871252e+10
"[60.0, 80.0)",99.608696,1672.73913,1651.608696,18804.565217,3542.869565,6.908261,25.695652,3.393158e+08,62.458333,68.783750,1.567865e+11,1.868233e+11,2.122570e+11,1.997264e+11,2.428540e+11,2.787698e+11,2.754738e+11,2.806995e+11,2.793995e+11,2.272305e+11
"[80.0, 100.0)",124.437500,449.68750,446.437500,3237.937500,675.125000,4.337500,8.750000,2.153529e+08,90.631579,93.226842,2.909297e+10,3.397719e+10,3.917657e+10,3.420115e+10,3.790900e+10,4.383834e+10,4.576538e+10,4.748674e+10,4.976660e+10,4.488668e+10

In [16]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

In [23]:
Continent_df = pd.DataFrame(ContinentDict.items(),columns=['Country','Continent'])

In [26]:
Continent_df.set_index('Country')

                        Continent
Country
Canada              North America
Brazil              South America
Italy                      Europe
France                     Europe
United States       North America
Australia               Australia
Iran                         Asia
India                        Asia
United Kingdom             Europe
China                        Asia
Russian Federation         Europe
Japan                        Asia
South Korea                  Asia
Germany                    Europe
Spain                      Europe

In [32]:
final = pd.merge(Continent_df,df,how='outer',left_index=True,right_index=True)

In [33]:
bins = np.linspace(0, 100, 6)
#pd.cut(df.% Renewable',bins)
#groups = df.groupby(pandas.cut(df.% Renewable, bins))
final['categories']=pd.cut(final['% Renewable'],bins,right=False)
#df.groupby('categories').mean()

In [57]:
#final.columns
final.groupby(['Continent', 'categories']).size()
#final.groupby(['Continents','categories']).size()
#final.groupby('Continent','categories').size()

Series([], dtype: int64)